article{
    background-color: #fff0;
    width: 260px;
    height: 110px;
    border: 1px solid #FF4655;
    display: flex;
    flex-direction: row;
    gap: 30px;

}
.block{
    transform: translate(2%, -5%);
    background-color: #fff;
    width: 260px;
    height: 105px;
    border: 1px solid #FF4655;
    z-index: -1;
    position: absolute;
}

.content__image{
    place-self: center;
    transform: translate(-5%, 0%);
}

.content__info{
    height: 92px;
    width: 135px;
    display: grid;
   

}

.content__title{
    transform: translate(0%, 30%);
    display: flex;
    gap: 2px;
    font-size: 0.9rem;
    font-family: Zuume , sans-serif;
    color: #0F1923;
}
.content__text{
    line-height: 12px;
    width: 129px;
    font-size: 0.625rem;
    font-family: 'Poppins', sans-serif;
}
.content__patch{
    
    color: #FF4655;
}

.content__icons{
    display: flex;
    font-family: Zuume , sans-serif;
    color: #0F1923;
    font-size: 0.9rem;
    gap: 13px;
}
.content__icons__more{
    display: flex;
    padding-left: 20px;
}
.content__icons__plus{
    color: #FF4655;
    font-size: 10px;
    place-self: center;
    padding-left: 3px;
}